eventlet==0.30.2
Flask==1.1.2
greenlet==1.0.0
imageai==2.1.5
imageio==2.6.1
imgaug==0.4.0
matlab==0.1
matplot==0.1.9
matplotlib==3.1.2
numpy==1.19.5
opencv-python==4.5.1.48
packaging==20.4
panda==0.3.1
pandas==1.0.4
python-socketio==4.2.1
socketio==0.2.1
sklearn==0.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.1
tensorflow-addons==0.11.2
tensorflow-datasets==4.1.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.10.0
tensorflow-metadata==0.25.0
tensorflow-model-optimization==0.5.0
tf-models-official==2.3.0
tf-slim==1.1.0
tflearn==0.3.2
